// Body
$font-family: 'Sora', sans-serif;
$body-bg: #161a24;

// Header
$header-bg: #161a24;
$bg-score: rgba(171, 247, 112, 1);


$border-color: rgb(65, 83, 94);



// All
$text-color: rgba(217, 217, 217, 1);