@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  font-family: $font-family;
  padding: 30px;
  margin: 30px;
  border-radius: 30px;
}

